img {
    width: 300px;
    border: 10px solid gold;
}
html {
   background-color: red;
}
h1 {
    font-family: 'Ranga', cursive;
    color: purple;
}
p {
    color:white;
}
h2 {
    font-family: 'Lobster', cursive;
     color: blue;
}
li {
    color: black;
}
h3 {
    color: green;
    font-family: 'Courgette', cursive;
}

body {
    text-align: center;
}
ul {
    width: 300px;
    margin: 0 auto;
    text-align: left;
    list-style: inside;
}